@charset "UTF-8";
.container {
  padding-left: 65px;
}

* {
  box-sizing: border-box;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.scrollbar {
  align-items: center;
  position: fixed;
  top: 50%;
  right: 115px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 5;
  pointer-events: auto;
}

.circle {
  width: 7px;
  height: 7px;
  border: 0px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.circle.active {
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 25px;
  height: 25px;
}

.circle.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: yellow;
  border-radius: 50%;
}

.section-visible {
  opacity: 1;
  transform: translateY(0);
}

.bruno-ace-regular {
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container-section {
  height: 100vh; /* Высота контейнера - 100% от высоты окна */
  overflow-y: scroll; /* Включаем вертикальную прокрутку */
  scroll-snap-type: y mandatory; /* Включаем "snap" прокрутку по оси Y */
  scroll-behavior: smooth; /* Плавная прокрутка */
}

/* Каждая секция */
.page {
  scroll-snap-align: start; /* Устанавливаем, чтобы секции "прилипали" к началу экрана */
}

.header {
  background-image: url(./../img/section-1.png);
  width: 1920px;
  height: 1080px;
  padding-top: 20px;
  margin: 0 auto;
}

#call {
  border: none;
  background: transparent;
}

.header-nav {
  margin-left: 65px;
}

.container-nav {
  display: flex;
  align-items: center;
}

.list-contnt-nav {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.width-text-nav {
  width: 150px;
}

.text-contant-nav {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: -100px;
}

.blog-contant-nav {
  color: rgba(255, 255, 255, 0.4);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  margin: 0 auto;
  text-align: center;
  margin-top: -100px;
}

.item-contnt-nav {
  width: 312px;
  height: 1080px;
  display: grid;
  place-items: center;
}

.item-contnt-nav:hover .svg-link-nav {
  opacity: 1;
}

.item-contnt-nav:hover {
  width: 312px;
  height: 1080px;
  background: rgba(0, 0, 0, 0.15);
}

.svg-link-nav {
  position: absolute;
  margin-top: 4%;
  opacity: 0;
}

.blog-tech-nav {
  position: absolute;
  margin-top: 4%;
  opacity: 0;
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 29px;
  font-weight: 400;
  line-height: 70px;
}

.blog-item:hover .blog-tech-nav {
  opacity: 1;
}

.border-nav-content {
  border: 1px solid;
  border-image-source: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 51.56%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  height: 250px;
  margin-top: -100px;
}

.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  top: 20px;
}

.open {
  display: flex !important;
}

.nav {
  display: flex;
  margin: 0 auto;
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  width: 30px;
  height: 18px;
  z-index: 9;
  margin-left: 63px;
}

.burger span {
  height: 2px;
  width: 13px;
  transform: scale(1);
  background-color: #fcfcfb;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fcfcfb;
  transition: all 0.3s ease 0s;
}

.burger::before {
  width: 25px;
  top: 0;
}

.burger::after {
  bottom: 0;
  width: 30px;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 47%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  width: 25px;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
}

.burger {
  display: flex;
}

.nav {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  overflow-y: auto;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.4);
  animation: burgerAnimation 0.4s;
}
@media screen and (min-width: 1600px) {
  .nav {
    display: none;
  }
}

.nav .list-nav-menu {
  flex-direction: column;
  row-gap: 35px;
}

.nav .list-contact-menu {
  flex-direction: column;
  row-gap: 32px;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.forn-modal-nav {
  position: absolute;
  width: 1564px;
  height: 280px;
  background: rgb(255, 255, 255);
  bottom: 0;
  left: 178px;
  padding-top: 32px;
  padding-left: 60px;
}

.text-form-nav {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 17px;
  margin-left: 71px;
  margin-right: 110px;
}

.form-nav-bottom {
  margin-top: 75px;
  margin-left: 31px;
}

.item-info-nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
}

.text-info-form-nav {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.border-nav {
  width: 1444px;
  height: 1px;
  display: block;
  bottom: 120px;
  left: 238px;
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 9;
}

.burger.active {
  position: fixed;
  left: 120px;
}

.form-nav-top {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.border {
  width: 1565px;
  height: 1px;
  display: block;
  top: 120px;
  left: 177px;
  background-color: rgba(255, 255, 255, 0.25);
  position: fixed;
  z-index: 9;
}

.number {
  margin-left: 140px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 10%;
}

.number-nav {
  margin-left: 220px;
}

.call {
  margin-left: 900px;
  color: rgb(255, 172, 48);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 10%;
}

.call-svg {
  margin-left: 75px;
}

.call-nav {
  margin-left: 913px;
}

.list-info-nav {
  display: flex;
  align-items: center;
}

.oclock {
  margin-left: 140px;
}

.email {
  margin-left: 95px;
}

.phone {
  margin-left: 90px;
}

.hero {
  margin-top: 174.5px;
  width: 1920px;
  height: 886px;
}

.sidebar-nav {
  margin-left: 65px;
  margin-top: 126px;
}

.container-hero {
  display: flex;
  align-items: start;
}

.item-sidebar {
  width: 50px;
}

.text-sidebar {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.5em;
  margin-left: 15px;
}

.border-hero {
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 1px;
  height: 154px;
  margin-top: 90px;
  margin-left: 20px;
}

.svg-list {
  margin-left: 10px;
  margin-top: 81px;
}

.svg-item + .svg-item {
  margin-top: 39px;
}

.slogan {
  margin-top: 80px;
  margin-left: 200px;
}

.form {
  position: absolute;
  right: 0;
  width: 740px;
  height: 380px;
  background-color: #fff;
  margin-left: auto;
  margin-top: 505px;
  padding: 85px 120px;
  display: block;
  bottom: 0;
}

.form-input {
  border: none;
  width: 100%;
  width: 253px;
  height: 65px;
}

.form-input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
}

.form-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
}

.form-input-item::after {
  content: " ";
  width: 500px;
  height: 1px;
  display: block;
  position: relative;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.15);
}

.form-input-item + .form-input-item {
  margin-top: 10px;
}

.send {
  margin-top: 43px;
  display: flex;
  align-items: center;
}

.text-send {
  color: rgb(255, 172, 48);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 45%;
  text-align: left;
  margin-right: 50px;
}

.about-us {
  background-image: url(./../img/section-2.png);
  width: 1920px;
  height: 1080px;
  padding-top: 20px;
  margin: 0 auto;
}

.about-us-container {
  align-items: center;
  display: flex;
}

.title-about-us {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 8px;
  width: 536px;
  text-align: center;
  margin-left: 560px;
  margin-top: 34px;
}

.list-about-content {
  display: flex;
  -moz-column-gap: 159px;
       column-gap: 159px;
  margin-left: 209px;
  margin-top: 111px;
}

.title-about-content {
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: center;
}

.subtitle-about-content {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 18px;
}

.text-more {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 45%;
}

.more-list {
  margin-top: 410px;
  margin-left: 277px;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.class-house {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
}

.class-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.class-item {
  width: 640px;
  height: 1080px;
  transition: width 0.3s ease, background-image 0.3s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.class-item-1 {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./../img/elite.png");
  width: 640px;
  height: 1080px;
  padding-top: 210px;
}

.class-item-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./../img/vip.png");
  width: 640px;
  height: 1080px;
}

.class-item-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("./../img/extra.png");
  width: 640px;
  height: 1080px;
}

.name-class {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0%;
  transition: width 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  z-index: 1;
}

.elite {
  margin-left: 142px;
  margin-top: 320px;
}

.vip {
  margin-left: 282px;
  margin-top: 516px;
}

.extra {
  margin-left: 240px;
  margin-top: 518px;
}

.class-item:hover .name-class {
  color: #ffac30;
}

.class-item:hover .name-class::before {
  border-color: #ffac30;
}

.class-item:focus .name-class::before {
  transform: translate(-50%, -50%) scale(1);
}

.name-class::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 174px;
  height: 174px;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s ease-in-out, border-color 0.5s ease-in-out;
  z-index: -1;
}

.name-class.vip::before {
  width: 174px;
  height: 174px;
  border-color: #c4c4c4;
  top: 4.3%;
}

.name-class.extra::before {
  border-color: #c4c4c4;
  left: 100px;
  top: 4.3%;
  left: 100px;
}

.name-class.elite::before {
  border-color: #c4c4c4;
  top: 20px;
  left: 70px;
}

.content-classes {
  display: none;
  opacity: 0;
}

.class-item:focus .content-classes {
  opacity: 1;
}

.class-item:hover .content-classes {
  display: block;
}

.content-classes {
  margin-top: 480px;
  margin-left: 130px;
  align-items: center;
}

.title-content-classes {
  width: 480px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
}

.list-btn {
  margin-top: 65px;
  border: none;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 5px;
  background-color: transparent;
}

.gallery-btn {
  margin-top: 69px;
  border: none;
  align-items: center;
  letter-spacing: 7px;
  background-color: transparent;
  margin-right: 20px;
  z-index: 1000;
}

.gallery-btn-text {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.lists-btn {
  margin-left: 35px;
}

.list-btn-2 {
  margin-left: 20px;
}

.gallery-btn-text:hover,
.list-btn:hover {
  color: #ffac30;
}

.content-elite {
  margin-top: 300px;
}

.gallery-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gallery-btn-text {
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}

.gallery-btn:hover .gallery-btn-text {
  color: #ffac30;
}

.gallery-btn {
  pointer-events: auto;
}

.area-size {
  width: 1920px;
  height: 1080px;
  background-image: url(./../img/section-4.png);
  margin: 0 auto;
  padding-top: 210px;
}

.container-area-size {
  display: flex;
}

.form-size {
  bottom: 0;
}

.position-content-area {
  display: block;
}

.title-area-size {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 4px;
  margin-top: 96px;
  margin-left: 431px;
}

.border-m2 {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 235px;
  height: 235px;
  border-radius: 50%;
}

.significance-border {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 10%;
  text-align: center;
  width: 250px;
  height: 35px;
  margin-bottom: 16px;
}

.list-content-size {
  display: flex;
  align-items: center;
}

.list-content-size {
  margin-left: 168px;
}

.name-size {
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
}

.list-size {
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100px;
}

.position-list-eclipse {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.eclipse {
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  margin-left: 26px;
  margin-right: 26px;
}

.extras {
  text-align: center;
}

.elites {
  width: 175px;
}

.img-size {
  margin-top: 70px;
  margin-left: 28px;
}

.price-uan {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2px;
  align-items: center;
  margin-left: 39px;
}

.price {
  align-items: center;
  display: flex;
  margin-top: 70px;
  margin-left: 29px;
}

.price-number {
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

.position-area:hover .list-elite,
.position-area-2:hover .list-vip,
.position-area-3:hover .list-extra {
  background-color: #ffac30;
}

.position-area:hover .eclipse-elite,
.position-area-2:hover .eclipse-vip,
.position-area-3:hover .eclipse-extra {
  background: #ffac30;
}

.position-area:hover .name-size.elites,
.position-area-2:hover .name-size.vips,
.position-area-3:hover .name-size.extras {
  color: #ffac30;
}

@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-container {
  text-align: center;
}

.circle-progress {
  position: relative;
  width: 235px;
  height: 235px;
  margin: 20px auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  stroke: #ff9900;
  stroke-width: 2;
  fill: transparent;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 1s ease-in-out;
}

.progress-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

.options {
  margin-top: 20px;
}

.option {
  background: #444;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.option:hover {
  background: #ff9900;
}

.progress-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ff9900;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out, opacity 0.5s;
  opacity: 0; /* Спочатку приховано */
}

.dot {
  position: absolute;
  top: -5px;
  left: 109px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(255, 172, 48);
}

.step {
  background-image: url(./../img/section-6.png);
  width: 1920px;
  height: 1080px;
  padding-top: 210px;
}

.container-step {
  display: flex;
  align-items: start;
}

.title-step {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 4px;
  margin-left: auto;
  width: 1010px;
}

.name-svg-step {
  width: 270px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
}

.answer-step {
  width: 400px;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-left: 70px;
}

.list-steps {
  display: flex;
  align-items: center;
  height: 240px;
}

.content-step {
  margin-left: 170px;
  margin-top: 105px;
}

.flex-item-step {
  display: flex;
  align-items: center;
  -moz-column-gap: 58px;
       column-gap: 58px;
  margin-left: 60px;
  margin-right: 100px;
}

.progress-container-step {
  text-align: center;
}

.dot-1 {
  position: absolute;
  top: -5px;
  left: 109px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.dot-2 {
  position: absolute;
  top: 36px;
  left: 200px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.dot-3 {
  position: absolute;
  top: 175px;
  left: 209px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.dot-4 {
  position: absolute;
  top: 228px;
  left: 118px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.dot-5 {
  position: absolute;
  top: 175px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.dot-6 {
  position: absolute;
  top: 36px;
  left: 23px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffac30;
}

.circle-progress-step {
  position: relative;
  width: 235px;
  height: 235px;
  margin: 20px auto;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.progress-ring__circle-step {
  stroke: #ff9900;
  stroke-width: 2;
  fill: transparent;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  transition: stroke-dashoffset 1s ease-in-out;
}

.progress-value-step {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
}

.button-step {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.home-accessories {
  background-image: url(./../img/section-7.png);
  width: 1920px;
  height: 1080px;
  padding-top: 210px;
  position: relative;
}

.container-home {
  display: flex;
}

.foto-1 {
  position: absolute;
  top: 180px;
  left: 180px;
  background-image: url(./../img/foto-1.png);
  width: 580px;
  height: 520px;
  padding-top: 210px;
  padding-left: 175px;
}

.foto-2 {
  position: absolute;
  top: 0;
  left: 760px;
  background-image: url(./../img/foto-2.png);
  width: 420px;
  height: 700px;
  padding-top: 291px;
  padding-left: 97px;
}

.foto-3 {
  position: absolute;
  right: 382px;
  top: 340px;
  background-image: url(./../img/foto-3.png);
  width: 360px;
  height: 360px;
  padding-top: 130px;
  padding-left: 69px;
}

.foto-4 {
  position: absolute;
  background-image: url(./../img/foto-4.png);
  width: 380px;
  height: 380px;
  bottom: 0;
  left: 380px;
  padding-top: 148px;
  padding-left: 70px;
}

.foto-5 {
  position: absolute;
  background-image: url(./../img/foto-5.png);
  width: 320px;
  height: 280px;
  bottom: 100px;
  left: 760px;
  padding-top: 90px;
  padding-left: 50px;
}

.text-home {
  width: 120px;
}

.title-text-home {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  width: 218px;
  text-align: center;
  display: none;
}

.list-img-home {
  display: flex;
  align-items: center;
}

.item-img-home {
  background-color: rgba(0, 0, 0, 0.5);
}

.item-img-home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний шар */
  transition: background-color 0.3s ease; /* Додаємо плавний перехід */
}

.item-img-home:hover::after {
  background-color: rgba(0, 0, 0, 0); /* Робимо шар повністю прозорим */
}

.item-img-home:hover .title-text-home {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.4);
  animation: burgerAnimation 0.4s;
}

.backdrop.open {
  display: block;
}

.close-nav {
  display: none;
}

.modal-list {
  margin-left: 378px;
}

.position-modal {
  display: flex;
  align-items: center;
}

#close {
  border: none;
  background-color: transparent;
}

.form-modal {
  position: relative;
  left: 100%;
}

.form-content-modal {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 253px;
  height: 65px;
  font-size: 18px;
  font-weight: 400;
}

.form-content-modal::-moz-placeholder {
  color: white;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: transparent;
}

.form-content-modal::placeholder {
  color: white;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  background-color: transparent;
}

.border-modal-form {
  content: " ";
  width: 500px;
  height: 1px;
  display: block;
  position: absolute;
  top: 60px;
  background-color: rgba(255, 255, 255, 0.15);
}

.border-modal-form-2 {
  content: " ";
  width: 500px;
  height: 1px;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 76px;
}

.border-modal-form-2.red {
  background-color: red;
}

.border-modal-form.red {
  background-color: red;
}

.order-call-modal {
  margin-top: 14px;
  border: none;
  background-color: transparent;
  color: rgb(255, 172, 48);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 16px;
}

.error-modal {
  color: rgb(255, 66, 66);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 10px;
  opacity: 0;
}

.error-modal-name {
  color: rgb(255, 66, 66);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 10px;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.backdrop-thank {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 35px;
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.4);
  animation: burgerAnimation 0.4s;
}

.logo {
  margin-left: 65px;
}

.backdrop-thank.opens {
  display: block;
}

.modal-side {
  margin-top: 98px;
}

.position-thank {
  display: flex;
  align-items: center;
}

.list-form-thank {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.title-form-thank {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.subtitle-form-thank {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 250px;
}

.btn-form-thank {
  color: rgb(255, 172, 48);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  border: none;
  letter-spacing: 10px;
  background-color: transparent;
}

.sliders {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.slider-1 {
  position: relative;
  padding-top: 210px;
  padding-right: 162px;
  width: 1920px;
  height: 1080px;
  background-image: url("../../img/elite-1.png");
}

.slider-2 {
  position: relative;
  padding-top: 210px;
  padding-right: 162px;
  width: 1920px;
  height: 1080px;
  background-image: url("../../img/elite-2.png");
}

.slider-3 {
  position: relative;
  padding-top: 210px;
  padding-right: 162px;
  width: 1920px;
  height: 1080px;
  background-image: url("../../img/elite-3.png");
}

.slider-4 {
  position: relative;
  padding-top: 210px;
  padding-right: 162px;
  width: 1920px;
  height: 1080px;
  background-image: url("../../img/elite-4.png");
}

.number-elite {
  margin-left: 128px;
}

.sidebar-elite {
  margin-top: 0;
}

.content-slide {
  display: flex;
  align-items: start;
}

.back_to-style {
  margin-left: auto;
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 3px;
  margin-top: -45px;
}

.list-slider-btn {
  position: absolute;
  bottom: 50px;
  left: 228px;
  display: flex;
  align-items: center;
}

.borders-slide-elite {
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 260px;
}

.left-bor {
  margin-left: 10px;
  margin-right: 38px;
}

.right-bor {
  margin-left: 38px;
  margin-right: 10px;
}

.slide-number {
  color: rgb(255, 172, 48);
  font-family: Bruno Ace;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  margin-left: auto;
  width: 70px;
}

.number-of-slides {
  color: rgb(255, 255, 255);
  font-family: Bruno Ace;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-left: 30px;
}

.touch-left-bottom {
  position: relative;
}

.touch-dot-left {
  left: 0;
}

.border-left-bootom.position-bottom {
  left: 136px;
  top: -21px;
}

.title-touch {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  width: 141px;
  margin-bottom: 18px;
}

.width-txt-tree {
  width: 151px;
}

.dots-bottom {
  position: absolute;
  right: -95px;
  top: -64px;
  animation: animate-dots 3s ease forwards;
  animation-delay: 0.9s;
}

.border-slider-tup {
  border: 1px solid rgba(255, 255, 255, 0.4);
  transform: rotate(30deg);
  width: 185px;
}

.touch-dot-left {
  margin-left: revert;
}

.touch-right-top {
  position: relative;
}

.right-txt {
  text-align: right;
  margin-top: 20px;
}

.position-servise-1 {
  position: absolute;
  left: 43.5%;
  top: 16.8%;
}

.position-servise-2 {
  position: absolute;
  left: 25.5%;
  top: 28%;
}

.position-servise-3 {
  position: absolute;
  top: 40.5%;
  right: 54.5%;
}

.position-servise-4 {
  position: absolute;
  right: 33%;
  top: 45.3%;
}

.position-servise-5 {
  position: absolute;
  top: 66%;
  right: 51.5%;
}

.border-left-bootom {
  position: absolute;
  left: -75px;
  top: 21px;
  border: 1px solid rgb(255, 172, 48);
  transform: rotate(150deg);
  width: 83px;
  animation: animate-border-left 0.5s ease forwards;
  animation-delay: 0.6s;
}

.touch-top-transform {
  transform: rotate(-150deg);
  top: -20.6px;
}

.border-right-left {
  width: 140px;
  border: 1px solid rgb(255, 172, 48);
  animation: animate-border-right 0.5s ease forwards;
  animation-delay: 0.3s;
}

.dots-elite {
  position: absolute;
  right: 0;
  width: 9px;
  height: 9px;
  background: rgb(255, 172, 48);
  border-radius: 50%;
  margin-top: -5px;
  animation: animate-dots-elite 1s ease forwards;
  animation-delay: 0s;
}

.border-right-left {
  margin-left: 2px;
}

.txt-top-bottom {
  margin-top: 20px;
  margin-bottom: 0;
}

.dots {
  position: absolute;
  left: -91px;
  top: 19px;
  animation: animate-dots 3s ease forwards;
  animation-delay: 0.9s;
}

.touch-dots-top {
  top: -62px;
}

.border-right-bootom {
  position: absolute;
  right: -77px;
  top: 20.6px;
  border: 1px solid rgb(255, 172, 48);
  transform: rotate(30deg);
  width: 83px;
  animation: animate-border-left 0.5s ease forwards;
  animation-delay: 0.6s;
}

.touch-border-left {
  width: 220px;
}

.dots-bottom.touch-dot-bottom {
  top: 19px;
}

.width-txt {
  width: 220px;
}

@keyframes animate-border-right {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animate-border-left {
  0% {
    width: 0;
  }
  100% {
    width: 83px;
  }
}
@keyframes animate-dots-elite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate-dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.position-servise-two-1 {
  position: absolute;
  top: 25.6%;
  left: 20.3%;
}

.position-servise-two-2 {
  position: absolute;
  top: 28%;
  right: 39%;
}

.position-servise-two-3 {
  position: absolute;
  top: 49.5%;
  right: 48%;
}

.position-servise-two-4 {
  position: absolute;
  top: 59.2%;
  left: 25%;
}

.position-servise-tree-1 {
  position: absolute;
  top: 20.5%;
  left: 48%;
}

.position-servise-tree-2 {
  position: absolute;
  top: 28.4%;
  right: 26.5%;
}

.position-servise-tree-3 {
  position: absolute;
  top: 46.5%;
  right: 45.8%;
}

.position-servise-tree-4 {
  position: absolute;
  top: 57%;
  left: 19%;
}

.position-servise-tree-5 {
  position: absolute;
  top: 70.5%;
  right: 56%;
}

.position-servise-four-1 {
  position: absolute;
  top: 20.5%;
  left: 48.3%;
}

.position-servise-four-2 {
  position: absolute;
  top: 19.4%;
  left: 26%;
}

.position-servise-four-3 {
  position: absolute;
  top: 36.5%;
  left: 20.8%;
}

.position-servise-four-4 {
  position: absolute;
  top: 43%;
  left: 48%;
}

.position-servise-four-5 {
  position: absolute;
  top: 68.5%;
  right: 56%;
}/*# sourceMappingURL=main.css.map */