.header {
  background-image: url(./../img/section-1.png);
  width: 1920px;
  height: 1080px;
  padding-top: 20px;
  margin: 0 auto;
}

.header-container {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
    top: 20px;
}

.open {
  display: flex !important;
}

.nav {
  display: flex;
  margin: 0 auto;
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  width: 30px;
  height: 18px;
  z-index: 9;
  margin-left: 63px;
}

.burger span {
  height: 2px;
  width: 13px;
  transform: scale(1);
  background-color: #fcfcfb;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fcfcfb;
  transition: all 0.3s ease 0s;
}
.burger::before {
  width: 25px;
  top: 0;
}
.burger::after {
  bottom: 0;
  width: 30px;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 47%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  width: 18px;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 60%);
}

.burger {
  display: flex;
}

.nav {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  overflow-y: auto;
  padding: 50px 110px;
  background: rgb(26, 26, 26);
  animation: burgerAnimation 0.4s;

  @media screen and (min-width: 1600px) {
    display: none;
  }
}

.nav .list-nav-menu {
  flex-direction: column;
  row-gap: 35px;
}
.nav .list-contact-menu {
  flex-direction: column;
  row-gap: 32px;
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.burger.active {
  position: fixed;
  right: 16px;
}

.header-list {
  display: flex;
  align-items: center;
}

.border {
  width: 1565px;
  height: 1px;
  display: block;
  position: relative;
  top: 120px;
  left: 177px;
  background-color: rgba(255, 255, 255, 0.25);
    position: fixed;
  z-index: 10;
}

.number {
  margin-left: 140px;
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 10%;
}

.call {
  margin-left: 900px;
  color: rgb(255, 172, 48);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 10%;
}

.call-svg {
  margin-left: 75px;
}